/* START border-box fix */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* END border-box fix */

body{
    background-color: #42087d;
    color:#ffffff 
}

div.container {
    width: 80%;
    background-color: #c698fe; 
    margin: 40px auto;
}

header,
nav,
main,
aside,
footer {
    padding: 20px;
}

header {
    background-color: #794fd5;
}
nav {
    background-color: rgb(233, 163, 236);

}
nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
nav li {
    display: inline-block;
    background-color: #311358;
    width: 100px;
    padding: 10px 0px;
    text-align: center;
    margin: 0px 10px;
    border-radius: 120px;
}
nav a {
    text-decoration: none;
    color: #FFF;
}
nav a:hover {
    color: #9b81f8;
}

main {
    background-color: #3b1b7a;
    width: 70%;
    float: left;
}
section {
    background-color: #771dd7;
}
aside {
    background-color: #57229c;
    width: 30%;
    float: left;
}
aside a {
  color: #ffccff; 
  text-decoration: underline; 
}
aside a:hover {
  color: #ffffff; 
}
footer {
    background-color: #6f33e8;
    float: none;
    clear: both;
}
.image-row {
  text-align: center;
  background-color:#9e5df8;
  padding: 20px;
}

.image-row img {
  width: 200px;
  margin: 10px;
  border: 3px solid #f3eff8;
  border-radius: 8px;
}
