/* START border-box fix */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* END border-box fix */
body{
  background-color: #d48080;
  background-image: url('images/background.jpg'); /* put your image in images/ folder */
  background-repeat: repeat;
  background-attachment: fixed;
font-family: 'Sour Gummy';
}

h1, h2, h3 {
  font-family:'TikTok Sans', sans-serif;
}

#wrapper {
    margin: 0px auto;
    background-color: #ffffff;
    max-width: 1000px;
    border: solid 10px #8e0101;
    display: flex;
    flex-wrap: wrap;
}

/* Add padding to all of the #wrapper child elements */
#wrapper>* {
  padding: 20px;
}

header {
    background: #eb8787;
    order: 1;
    flex: 1 0 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
main {
  background: #822626;
  order: 3;
  flex: 1 1 500px;
}
nav {
  background: #d44949;
  order: 2;
  flex: 1 0 200px;
}
nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 15px;
}

nav a {
  display: block;
  background-color: #ffd000; 
  color: #000000;
  text-align: center;
  padding: 20px;
  width: 200px;               
  border-radius: 125px;       
  text-decoration: none;
  margin: 0 auto;             
}

nav a:hover {
  background-color: #43018e;
  color: white;
}

aside {
  background: #d44949;
  order: 4;
  flex: 1 0 200px;
}
footer {
  background: #eb8787;
  order: 5;
  flex: 1 0 100%;
}
/* SUBSCRIBE BUTTON */
div.buttonAbsolute {
    background-color: rgb(255, 208, 0);
    opacity: 1.0;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 150px;
    border-radius: 125px;
    padding: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

/* view gallery button */
div.buttonRelative {
    background-color: #ffd000;
    color: #000000;
    text-align: center;
    padding: 20px;
    width: 200px;
    position: relative;
    left: 60px;
    z-index: 2;
}

img {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  display: block;
}
