html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* remove margin and padding on body */
  padding: 0;
  margin: 0;
  background-color: #ffae6b;
  background-image: url('images/backgroundimage.jpg');
  font-family: "Lexend", sans-serif;
}

.englebert-regular {
  font-family: "Englebert", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Grouping example */
h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "Englebert", cursive;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.wrapper {
  background: #7d41f5;
  width: 80%;
  margin: 0 auto;

  display: grid;
  /* create 12 col layout */
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* padding on immediate children of wrapper */
.wrapper>* {
  padding: 20px;
}

header {
  background: #6534f7;
  /* span all 12 cols*/
  grid-column: 1 / 13;
}

main {
  background: #bc9cfd;
  /* span 6 cols */
  grid-column: 4 / 10;
}

nav {
  background:#9166f4;
  /* span 3 cols */
  grid-column: 1 / 4;
}

nav ul {
  list-style-type: none;        
  margin: 0;                     
  padding: 0;
  overflow: hidden;                    
  background-color: #ffffff;     
  display: flex;                
}

nav ul li a {
  display: block;                
  color: #007bff;                  
  padding: 14px 19px;            
  text-decoration: none;        
}

nav ul li a:hover {
  background-color: #fcb076;     
}

nav div {
  width: 200px;
  height: 100px;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('images/artist1.jpg');
  background-size: cover;
  background-position: center;
  animation-name: changeBackground;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes changeBackground {
  0%   { background-image: url('images/flag1.jpg');}
  25%  { background-image: url('images/flag2.png');}
  50%  { background-image: url('images/flag3.png'); }
  100% { background-image: url('images/flag4.png'); }
}

aside {
  background: #9166f4;
  /* span 3 cols */
  grid-column: 10 / 13;
  font-weight: bold;
}

/* span 2 rows */
main,
nav,
aside {
  grid-row: 2 / 4;
}

footer {
  background: #6534f7;
  /* span all 12 cols*/
  grid-column: 1 / 13;
}
img {
  width: 225px;
  margin: 10px;
  border-radius: 10px;
  display: block;
}
img:hover {
  outline: 4px solid #76f7fc;
}

/* image layout for js*/
.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
.hidden-text {
  display: none;
}
.photo-item {
  text-align: center;
}

.photo-item img {
  width: 200px;
  display: block;
  margin: 0 auto 10px;
}
/* image layout for jq*/
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #aef6fa;
  border: solid 1px #fa8f8f;
}

#panel {
  padding: 50px;
  display: none;
}
